templates/IncrementalDataLoad/IncrementalDataLoad.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name"
		},
		"OnPremSqlServer": {
			"type": "string"
		},
		"collegeSQLDB": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/IncrementalDataLoad')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AMASTERiNCLOAD",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "MaxDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM AMASTER \nWHERE DOO > '@{activity('MaxDate').output.firstrow.maxdate}'",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "OnPremMasterTable",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlMasterTable",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "MaxDate",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select max(DOO) as maxdate from AMASTER"
							},
							"dataset": {
								"referenceName": "AzureSqlMasterTable",
								"type": "DatasetReference"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/OnPremMasterTable')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlMasterTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OnPremMasterTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('OnPremSqlServer')]",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OLDDS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ACID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NAME",
						"type": "varchar"
					},
					{
						"name": "BRID",
						"type": "char"
					},
					{
						"name": "PID",
						"type": "char"
					},
					{
						"name": "DOO",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CBALANCE",
						"type": "money",
						"precision": 19,
						"scale": 4
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[AMASTER]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlMasterTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('collegeSQLDB')]",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OLDDS"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ACID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NAME",
						"type": "varchar"
					},
					{
						"name": "BRID",
						"type": "varchar"
					},
					{
						"name": "PID",
						"type": "varchar"
					},
					{
						"name": "DOO",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CBALANCE",
						"type": "money",
						"precision": 19,
						"scale": 4
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[AMASTER]"
				}
			},
			"dependsOn": []
		}
	]
}